
.footer {
    
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    position:relative;
    bottom: 0;
    width: 100%;
    margin :0%;
}

.contact-info {
    margin-bottom: 10px;
}

.contact-info h3 {
    margin: 0;
    font-size: 20px;
    color:linear-gradient();
}

.contact-info p {
    margin: 5px 0;
    font-size: 14px;
    
}
.contact-info p:hover{
    color: #f39c12;
}

.social-links {
    margin: 10px 0;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    fill:#f39c12;
    box-shadow: 0 12px 24px rgb(255, 255, 255);
    
}


